
html {
  font-size: 15px;
  font-family: gold man;

}
body {
  font-family: "Goldman", cursive;
  background-color: black;
  position: -webkit-sticky;
  min-height: 100vh;
  text-align: left;
  overflow: scroll;
  background-repeat: no-repeat;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  
}

nav ul li ul{
  display: block;
  background-color: white;
  font-size: 4px;
}

.dropbtn{
  display: flex;
  background-color: #00a8c7;
  color: white;
  padding: 16px;
  font-size: 40px;
  border: none;
}
.dropdown{
  display: flex;
  justify-content:flex-end ;
  align-items: flex-end;
}

.dropdown-content{
  display: flex;
  align-items: flex-end;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;

}
.dropdown-content a{
  color: #00a8c7;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}
.dropdown-content a:hover{
  background-color: gray ;
}
.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dropdown:hover .dropbtn{
  background-color: white;
  color: #00a8c7;
}

nav img {
  width: 5vw;
}

.tekst

{
font-size: 24px;  
font-family: Verdana;
list-style-type: circle;

}



.tekst2

{
font-size: 24px;  
font-family: Verdana;
}

 .content{
  background-color: black;
  background-image: url(./img/hacker.png);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  min-height: 800px;
}
footer{
  height: auto;
  background-color: #00a8c7;
  padding: 2px;
  position: sticky;
  bottom: 0;
  text-align: center;
  
  }


li{
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 100px;
}

img {
 height: 80px;
}

#foto {
  float: right;
  margin-top: 100px;
}

#fototjes {
  float: left;
  margin-top: 100px;
}




